.homeContainer {
  padding: 20px;
  text-align: center;
  height:100vh;
  background-image: url('https://cdn.pixabay.com/photo/2018/08/16/08/39/hallstatt-3609863_640.jpg');
    background-size: cover;
    background-position: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.topNavbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px;
  border-bottom: 1px solid black;
}

/* .leftSection {
  display: flex;
  gap: 10px;
}

.leftSection button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
  font-weight: bold;
} */

.leftSection button:hover {
  color: yellow;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left:auto;
}

.rightSection span {
  font-weight: bold;
}

.rightSection button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.rightSection button:hover {
  color: red;
}

.box {
  margin-top: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.navbar button {
  background: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.tripType,
.specialFare {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.columns {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column label {
  margin-bottom: 5px;
}

.column input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.addCity {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.searchButton {
  padding: 10px 20px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
